body {
  font-family: fantasy;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

header {
  display: flex;
  /* position: fixed; */
  /* margin: 0 4em; */
  /* padding: 5px; */
  /* width: calc(100vw - 8em); */
  color: black;
  background-color: rgba(180, 16, 16, 0.8);
  /* border-radius: 0 0 1em 1em; */
  /* z-index: 2; */
  opacity: 2;
}

header .logo {
  flex-grow: 1;
  padding-top: 0.25em;
}

#red {
  background-color: red;
  text-shadow: 2px 2px white;
  border-radius: 50px 0 0 50px;
}
#white {
  background-color: lightgray;
  text-shadow: 2px 2px white;
  border-radius: 0 50px 50px 0;
}

header nav {
  display: flex;
}

section {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.capsule-img-main,
#homepage {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.content-imgs,
#homepage #homepage-text {
  position: absolute;
  top: 45vh;
  color: #2b0303;
  /* text-shadow: 2px 2px #252525; */
  z-index: 1;
}

.capsule-img-main .content-imgs,
#homepage .homepage-img {
  position: absolute;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 1;
  /* transition: opacity 1.5s; */
}

.eventItem-group-view {
  background-color: rgba(180, 16, 16, 0.8);
  max-width: 140px;
  flex: 1;
  border-radius: 4px;
  padding: 8px;
  margin: 0 8px 15px;
  white-space: nowrap;
}

.eventItem-img {
  width: 128px;
  height: 128px;
  border-radius: 4px;
  background-color: lightgray
}
.capsuleItem-img {
  width: 80px;
  height: 128px;
  border-radius: 4px;
  background-color: lightgray
}
.radarItem-img {
  width: 128px;
  height: 110px;
  border-radius: 100px;
  background-color: lightgray
}
.fake-img {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  background-color: lightgray
}
.fake-img2 {
  width: 40vw;
  height: 30vw;
  border-radius: 4px;
  background-color: lightgray
}
.contentItem-img {
  width: 7vw;
  height: 7vw;
  border-radius: 4px;
  background-color: lightgray
}

.list-view,
.event-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.single-img {
  width: 50vw;
  height: 35vw;
  display: block;
}

.line-up {
  display: flex;
}

.for-one {
  flex: 1;
}

.content-imgs,
.center {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.toRight {
  text-align: right;
}